/* GENERAL */

body {
  background-color: #47555e;
}

a {
  text-decoration: none;
}

.fleche {
  width: 60px;
  height: auto;
  margin-left: 10%;
  opacity: 0.6;
}
.fleche:hover {
  opacity: 1;
  transition: 0.3s;
}

h2 {
  font-family: "Smooch Sans", sans-serif;
  color: white;
  letter-spacing: 1;
}

/* NAVIGATION */

header {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 500px;
  height: auto;
  margin-top: 10%;
}

.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  font-family: "Bona Nova", serif;
  color: white;
  font-size: 25px;
  line-height: 2;
  letter-spacing: 2px;
  padding-left: 0;
}

.main-nav a:link {
  text-decoration: none;
  color: white;
}

.main-nav a:visited {
  color: white;
  text-decoration: none;
}

.main-nav a .active {
  text-decoration: underline;
  background-color: white;
  color: #47555e;
}

.main-nav a:hover {
  background-color: white;
  color: #47555e;
  text-decoration: none;
}

/* PAGE ACCUEIL */

.body1 {
  background-image: url(photos/bébé/babyfoot.jpg);
  background-repeat: no-repeat;
}

.container1 {
  position: relative;
  text-align: center;
  z-index: 1;
}

.name1 {
  font-family: "Bona Nova", serif;
  color: #47555e;
  margin-bottom: -10px;
}

.job1 {
  margin-top: -15px;
  font-family: "Smooch Sans", sans-serif;
  color: #47555e;
}

hr {
  color: #47555e;
  size: 3px;
  width: 100px;
}

/* PAGE GALERIE */

.container2 {
  display: flex;
  flex-direction: row;
}

.title-cat {
  font-family: "Smooch Sans", sans-serif;
  color: white;
  font-weight: bold;
}

label {
  font-family: "Bona Nova", serif;
  color: white;
  line-height: 1.5;
}

.galerie {
  margin-left: 2%;
  margin-top: 7%;
}

.gal-wed,
.gal-bab,
.gal-two,
.gal-fam,
.gal-chr,
.gal-preg {
  width: 30%;
}

/* TARIFS ET PRESTATIONS */

.prestations-laptop {
  color: white;
}

tr,
td {
  vertical-align: top;
  padding: 10px;
}

.title-laptop {
  font-family: "Bona Nova", serif;
  text-align: center;
}

.price-laptop {
  font-family: "Smooch Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid white;
  padding-top: 0px;
}

.description-laptop {
  text-align: justify;
}

.gal-tarifs {
  margin-left: 5%;
  margin-right: 5%;
}

.photos-tarifs {
  width: 24%;
  margin-right: 5px;
  margin-bottom: 5%;
}

/*CONTACT*/

.container3 {
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
}

.gal-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.photos-contact {
  width: 100%;
  margin-bottom: 15px;
  height: auto;
}

.bloc-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10%;
}

form {
  display: flex;
  flex-direction: column;
}

.champ {
  width: 100%;
  height: 30px;
}

textarea {
  width: 100%;
  height: 300px;
}

button {
  width: 120px;
  height: 40px;
  font-family: "Bona Nova", serif;
  font-size: 20px;
  color: #47555e;
  font-weight: 600;
}

/*FOOTER */

.rs {
  display: flex;
  flex-direction: column;
  margin-left: 80%;
}

.rs2 {
  display: flex;
  flex-direction: row;
}

.follow {
  font-family: "Smooch Sans", sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.fb,
.ig {
  width: 40px;
  margin-left: 10px;
}

.fb:hover,
.ig:hover {
  transform: rotateY(360deg);
  transition: 0.5s;
}

.credits {
  font-family: "Bona Nova", serif;
  color: white;
  text-align: center;
}
